*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

img {
    pointer-events: none;
}

@font-face {
    font-family: 'baskervillenormal';
    src: url("../assets/font/baskvl.ttf") format('truetype'),
         url('../assets/font/baskvl-webfont.woff2') format('woff2'),
         url('../assets/font/baskvl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dancingscriptregular';
    src: url("../assets/font/DancingScript-Regular.ttf") format('truetype'),
         url('../assets/font/DancingScript-Regular-webfont.woff2') format('woff2'),
         url('../assets/font/DancingScript-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bulgattiregular';
    src: url("../assets/font/Bulgatti.ttf") format('truetype'),
         url('../assets/font/bulgatti-webfont.woff2') format('woff2'),
         url('../assets/font/bulgatti-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  color: #716558;
  font-family: "dancingscriptregular";

  .info-text {
    font-family: "baskervillenormal" !important;
  }

  background-image: url('../assets/opening/bg-clear.webp');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.modal-fullscreen-xl, .modal-content {
  background-image: url('../assets/opening/bg.webp');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero, .detail, .gallery, .closing {
  padding-top: 40px;
  background-image: url('../assets/opening/bg.webp');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.closing {
  padding-top: 40px;
  background-image: url('../assets/opening/bg-closing.webp');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.lable, .location {
  padding-top: 40px;
  background-image: url('../assets/opening/bg-clear.webp');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}


.overlap-div {
  margin-top: -70px;
  background-image: url('../assets/opening/bg.webp');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  border-top-right-radius: 999px;
  border-top-left-radius: 999px;
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.35);
  position: relative;
}

.overlap-div-couple {
  margin-top: -70px;
  background-image: url('../assets/opening/bg.webp');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  border-top-right-radius: 999px;
  border-top-left-radius: 999px;
  border-bottom-right-radius: 999px;
  border-bottom-left-radius: 999px;
  box-shadow: 0 0px 50px rgba(0, 0, 0, 0.45);
  position: relative;
}

footer {
  background-color: #74967E;
  margin-top: 0 !important;

  p {
    color: white;
    // color: #f9df88;
  }
}

.form-control {
  background-color: #f3f3f3;
}

#audio {
  position: fixed;
  bottom: 70px;
  right: 15px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #74967E;
  color: white;
  cursor: pointer;
  padding: 7px;
}

.audio-button {
  display: none;
}

.navbar {
  background-color: #74967E !important;
  display: none;
}

.btn-primary {
  background-color: #BCCFC2 !important;
  border-color: #BCCFC2 !important;
  // color: #f9df88 !important;
  color: #6F655A !important;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
}

.btn-primary:hover {
  background-color: #74967E !important;
  border-color: #74967E !important;
  color: #f9df88 !important;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(166, 150, 126, 0.5) !important;
}

@mixin modal-fullscreen() {
  padding: 0 !important; // override inline padding-right added from js

  .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
  }

  .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }

  .modal-body {
    overflow-y: auto;
    // background-color: #a51725 !important;
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .modal-fullscreen#{$infix} {
      @include modal-fullscreen();
    }
  }
}

.slider {
  width: 50%;
  margin: 100px auto;
}

.slick-slide {
  margin: 10px 30px;
}

.slick-slide img {
  width: 200px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}

.slick-active {
  opacity: 0.5;
}

.slick-current {
  opacity: 1;
}

#guest-name {
  font-size: 1.5em;
  font-family: "bulgattiregular" !important;
  color: #6F655A;
}

.typed-cursor{
    font-size: 3em;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.location, .closing {
  padding-top: 230px;
  margin-top: -180px;
}

.detail, .gallery {
  z-index: 1;
}

#date-lable {
  font-size: 3rem;
  color: #798D7A;
  letter-spacing: -2px;
}

.pb-7 {
  padding-bottom: 7rem !important;
}

.flower-separator {
  width: 90vw;
}
