.page-home {
    h5 {
        font-weight: 300;
        // margin-bottom: 15px;
    }

    @media (max-width: 926px) {
        
        .bunga-besar {
            position: absolute;
            top: -70px;
            right: -40px;
            width: 100%;
        }

        .main-photo {
            margin-top: 2rem;
            width: 85vw;
            padding-right: 35px;
            padding-top: 70px;
        }

        .initial-dz {
            width: 75vw;
        }

        #row-timer {
            margin-right: 30px;
            margin-left: 30px;
        }

        #row-timer > .col-3 {
            padding-right: 4px;
            padding-left: 4px;
            p {
                font-size: 11pt;
            }
        }

        .timer-box {
            background-color: #DEE2DC;
            border-radius: 10px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
            padding-right: 10px;
            padding-left: 10px;
            h5 {
                font-size: 32pt !important;
            }
        }

        .photo-dita, .photo-zain {
            width: 55vw;
        }

        .separator-left {
            position: absolute;
            left: -35px;
            top: 0;
            bottom: 570px;
            width: 40vw;
        }

        .separator-right {
            position: absolute;
            right: -35px;
            top: 0;
            bottom: 570px;
            width: 40vw;
        }

        .photo-slide {
            width: 50vw;
        }

        .bunga-besar-closing {
            position: absolute;
            transform: rotate(90deg);
            right: -50px;
            bottom: -30px;
            width: 100%;
        }

        .initial-closing {
            padding-bottom: 200px;
            width: 55vw;
        }

        footer {
            display: none;
        }
        
        // .bg-timer {
        //     background-color: red;
        //     border-radius: 1rem;
        //     // margin-right: 0.25rem;
        // }

        // .bg-timer2 {
        //     background-color: blue;
        //     border-radius: 1rem;
        //     // margin-right: 0.25rem;
        // }

        // .bg-timer3 {
        //     background-color: green;
        //     border-radius: 1rem;
        //     // margin-right: 0.25rem;
        // }

        // .bg-timer4 {
        //     background-color: yellow;
        //     border-radius: 1rem;
        //     // margin-right: 0.25rem;
        // }
    }

    // @media (max-width: 768px) {

    // }

    // @media (max-width: 992px) {

    // }

    // @media (max-width: 1200px) {

    // }
}